@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    font-size: 14px;
}

header{
    width: 100%;
    height: 101vh;
    background-color: #2b2f4b;
    color: #fff;
}

header #particles{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

header .info-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    height: 100vh;
}

header .info-text h1{
    font-size: 5rem;
    font-weight: 500;
    font-family: 'Ubuntu';
}

header .info-text h3{
    font-size: 1.5rem;
}

header .info-text .scroll{
    position: absolute;
    bottom: 20%;
    left: 50%;
    color: #fff;
    transform: translate(0, -50%);
    transition: all 0.5s;
}

header .info-text .scroll:hover{
    opacity: 0.7;
}

header .info-text .scroll::before{
    position: absolute;
    top: -16px;
    left: -16px;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0%, 100%{
        opacity: 0;
    }
    15%, 45%{
        opacity: 1;
    }
    60%{
        box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.1);
        opacity: 0;
    }
}

@media screen and (max-width: 720px) {
    header .info-text h1{
        font-size: 4rem;
    }

    header .info-text h3{
        font-size: 1.1rem;
    }
}

.soon {
    text-decoration: none;
    font-size: "Montserrat";
}

.contener {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b2f4b;
}

.soon-container {
     color: #fff;
     text-transform: uppercase;
     text-align: center;
}

.soon-container h1 {
    font-size: 80px;
    margin-bottom: 40px;
}

.soon-container h3 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 8px;
    margin-bottom: 20px;
}

.progress-bar {
    width: 360px;
    height: 12px;
    background-color: #d1d1d1;
    margin: auto;
    margin-bottom: 100px;
    opacity: .8;
    position: relative;
}

.progress-bar::before{
    content: "0%";
    position: absolute;
    left: 0;
    font-size: 12px;
    bottom: -15px;
}

.progress-bar::after{
    content: "100%";
    position: absolute;
    right: 0;
    font-size: 12px;
    bottom: -15px;
}

.progress-bar span {
    display: block;
    width: 10%;
    height: 12px;
    background-color: #87b1de;
    animation: fill 1s ease-in 1;
}

@keyframes fill {
    from{
        width: 0;
    }
    to{
        width: 10%;
    }
}